

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color:#F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 120px;
    padding-top: 20px;
  
}
.header-container .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    gap: 32px;
}

a { 
    text-decoration: none;
}
.header-container a {
    
    color:#F9FAF8;
}

.content.first {
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937; 
    color:#F9FAF8;  
    padding: 100px;
    gap: 200px;
    
}

.content.first .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.content.first .signup-button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 5px; /*rounded corners*/
    border: 0px;
    padding-left:45px;
    padding-right:45px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    flex: 0 0 25px;
    display: flex;
    align-self: flex-start;
    
    justify-content: center;
}

.content.first .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content.first .text {
    font-size: 18px;
    color: #E5E7EB;
}

.content.first .right-side {
    flex: 1;
    display:flex;
    align-items: center;
   /* background-color: gray;*/
    justify-content: center;
    align-items: center;
}


.content.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid  #3882F6;;
    padding: 100px;
    gap: 32px;
    color: #1F2937;
}

.content.second .top{
    font-weight: bold;
    font-size: 32px;
   
    justify-content: center;
    align-items: center;
}
.content.second .card-container {
    display:flex;
    flex-direction: row;
    
    justify-content: center;
}
.content.second .card {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.photo-box{
    width: 150px;
    height: 150px;
    outline: 3px solid #3882F6;
    border-radius: 25px; /*rounded corners*/
}

.content.second .text {
    font-size: 16px;
    font-weight: 300px;
    color: #1F2937;
    padding-left: 50px;
    padding-right: 30px;
}

/*quote*/
.content.third {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content.third .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.content.third .author {
    font-weight: bold;
    align-self: flex-end;
    color: #1F2937;
}

/*call to action*/
.content.fourth {
    background-color:  #3882F6;
    color:#F9FAF8;
    border: 48px solid white;
    border-radius: 72px; /*rounded corners*/
    display: flex;
    padding: 100px;
}

.content.fourth .leftside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content.fourth .heading {
    font-weight: bold;
    font-size: 32px;
}

.content.fourth .rightside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content.fourth .signup {
    background-color:  #3882F6;
    color:#F9FAF8;
    border-radius: 12px; /*rounded corners*/
    border: 3px solid white;
    padding-left:45px;
    padding-right:45px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer {
    background-color: #1F2937; 
    color:#F9FAF8; 
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}