

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

.header-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    gap: 12px;
}

a {
    text-decoration: none;
}

.content.first {
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: lightgray;    
    padding: 32px;
}

.content.first .heading {
    font-size: 24px;
}

.content.first .right-side {
    display:flex;
    align-items: center;
    background-color: gray;
}


.content.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid black;
    padding: 32px;
}
.content.second .card-container {
    display:flex;
    flex-direction: row;
    gap: 24px;
}
.content.second .card {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
/* a space means "within" and combined with . selector means "and" */
.content.second .top{
    font-weight: bold;
    padding: 16px;
}
.photo-box{
    width: 100px;
    height: 100px;
    outline: 1px solid blue;
}

.content.third {
    background-color: lightgrey;
    padding: 48px;
}

.content.fourth {
    background-color: aliceblue;
    border: 48px solid white;
}



.footer {
    background-color: lightgray;
    display:flex;
    align-items: center;
    justify-content: center;
}